<div class="footer-v1" id="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <a href="index.html"><img alt="" src="~/Content/img/logo.svg" class="footer-logo" id="logo-footer"></a>
                        <p>Funding for the Scholarships is drawn from the earnings of a permanent endowment built from the contributions of former students, athletes and faculty.</p>
                        <p>The endowment fund is managed by The Northern Kentucky Fund of the Greater Cincinnati Foundation, a well-respected local community foundation.</p>    
                    </div>
                    <!-- End About -->

                    <!-- Latest -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="posts">
                            <div class="headline"><h2>Latest Posts</h2></div>
                            <ul class="list-unstyled latest-list">
                                @*<li>
                                    <a href="#">Incredible content</a>
                                    <small>May 8, 2014</small>
                                </li>
                                <li>
                                    <a href="#">Best shoots</a>
                                    <small>June 23, 2014</small>
                                </li>
                                <li>
                                    <a href="#">New Terms and Conditions</a>
                                    <small>September 15, 2014</small>
                                </li>*@
                            </ul>
                        </div>
                    </div>  
                    <!-- End Latest --> 
                    
                    <!-- Link List -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="headline"><h2>Useful Links</h2></div>
                        <ul class="list-unstyled link-list">
                            <li>@Html.ActionLink("About the scholarship", "Scholarship", "About")<i class="fa fa-angle-right"></i></li>
                            <li><a href="https://www.gcfdn.org/">Greater Cincinnati Foundation</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://www.fortthomas.kyschools.us/school_home.aspx?schoolID=1">Highlands Highschool</a><i class="fa fa-angle-right"></i></li>
                            <li>@Html.ActionLink("Contact", "Home", "Contact")<i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div>
                    <!-- End Link List -->                    

                    <!-- Address -->
                    <div class="col-md-3 map-img md-margin-bottom-40">
                        <div class="headline"><h2>Contact the fund manager</h2></div>                         
                        <address class="md-margin-bottom-40">
                            Mary Pitcairn <br>
                            Greater Cincinnati Foundation<br>
                            200 W. Fourth St.<br>
                            Cincinnati, OH 45202<br>
                            (513) 768-6130<br>
                            <a class="" href="mailto:pitcairnm@greatercincinnatifdn.org">pitcairnm@greatercincinnatifdn.org</a>
                        </address>
                    </div>
                    <!-- End Address -->
                </div>
            </div> 
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            @DateTime.Now.Year.ToString() &copy; All Rights Reserved.
                           @Html.ActionLink("Privacy Policy", "Policy", "Privacy") | <a href="#">Terms of Service</a>
                        </p>
                    </div>

                    <!-- Social Links -->
                    <div class="col-md-6">
                        <ul class="footer-socials list-inline">
                            <li>
                                <a data-original-title="Facebook" title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            @*<li>
                                <a data-original-title="Skype" title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>*@
                            @*<li>
                                <a data-original-title="Google Plus" title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>*@
                            <li>
                                <a data-original-title="Linkedin" title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            @*<li>
                                <a data-original-title="Pinterest" title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>*@
                            <li>
                                <a data-original-title="Twitter" title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            @*<li>
                                <a data-original-title="Dribbble" title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>*@
                        </ul>
                    </div>
                    <!-- End Social Links -->
                </div>
            </div> 
        </div><!--/copyright-->
    </div>