    <!--=== Slider ===-->
<div class="slider-inner">
	<div id="da-slider" class="da-slider">
		<div class="da-slide">
			<h2><i>athleticism &amp; character </i> <br /> <i>intellect</i> <br /> <i>education</i></h2>
			<p><i>help encourage the teachers,</i> <br /> <i>coaches and mentors</i> <br /> <i>so important to the next generation </i></p>
			<div class="da-img"><img class="img-responsive" src="content/img/Waddell-1967-page-2-slider.png" alt=""></div>
		</div>
		<div class="da-slide">
			<h2><i>academics</i> <br /> <i>team athletics</i> <br /> <i>teaching and coaching</i></h2>
			<p><i>Waddell Scholars </i> <br /> <i></i></p>
			<div class="da-img">
				<img src="~/Content/img/hh-logo2.png"/>
			</div>
		</div>
		<div class="da-slide">
			<h2>
                <i>Northern Kentucky Fund </i> <br /> 
                <i>Greater Cincinnati</i> <br />
                <i>Foundation</i> <br />
            </h2>
			<p>
                <br />
                <i>The endowment fund is managed by The Northern Kentucky Fund of the Greater <br />
                Cincinnati Foundation, a well-respected local community foundation <br />
			<div class="da-img"><img src="~/Content/img/gcf-large.png" alt="image01" /></div>
		</div>
		<div class="da-arrows">
			<span class="da-arrows-prev"></span>
			<span class="da-arrows-next"></span>
		</div>
	</div>
</div><!--/slider-->
<!--=== End Slider ===-->
