@{
    ViewBag.Title = "Page not found";
}

@section styles {
    <link rel="stylesheet" href="~/assets/css/pages/page_404_error.css">
}

@section scripts {

}

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Not Found</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Error</li>
            <li class="active">Not Found</li>
            <li></li>
        </ul>
    </div><!--/container-->
</div>

<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container content">
    <!--Error Block-->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="error-v1">
                <span class="error-v1-title">404</span>
                <span>That’s an error!</span>
                <p>The requested URL was not found on this server. That’s all we know.</p>
                <a class="btn-u btn-bordered" href="/">Back Home</a>
            </div>
        </div>
    </div>
    <!--End Error Block-->
</div>
<!--=== End Content Part ===-->