@{
    ViewBag.Title = "Home Page";
}

@section styles {
}

@section scripts {

}

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Contact Us</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Pages</li>
            <li class="active">Contact Us</li>
            <li></li>
        </ul>
    </div><!--/container-->
</div>


<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-9">
            <div class="headline"><h2>Our members of the advisory committee </h2></div>

            <!-- Clients Block-->
            <div class="row clients-page">
                <div class="col-md-2">
                    <img src="~/assets/img/user.jpg" class="img-responsive hover-effect" alt="" />
                </div>
                <div class="col-md-10">
                    <h3>Megan Abner</h3>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-map-marker color-green"></i> 1918 N. Ft. Thomas Ave <br />Ft. Thomas, KY 41075</li>
                        @*<li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://www.example.com</a></li>*@
                        <li><a href="mailto:megan@kprealty.net"><i class="fa fa-envelope-o"></i> megan@kprealty.net</a></li>
                    </ul>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                </div>
            </div>
            <!-- End Clients Block-->

            <!-- Clients Block-->
            <div class="row clients-page">
                <div class="col-md-2">
                    <img src="~/assets/img/user.jpg" class="img-responsive hover-effect" alt="" />
                </div>
                <div class="col-md-10">
                    <h3>J. Wes Caldwell</h3>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-map-marker color-green"></i><br /></li>
                        @*<li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://www.example.com</a></li>*@
                        @*<li><a href="mailto:dalemueller6@gmail.com"><i class="fa fa-envelope-o"></i> dalemueller6@gmail.com</a></li>*@
                    </ul>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                </div>
            </div>
            <!-- End Clients Block-->

            <!-- Clients Block-->
            <div class="row clients-page">
                <div class="col-md-2">
                    <img src="~/assets/img/user.jpg" class="img-responsive hover-effect" alt="" />
                </div>
                <div class="col-md-10">
                    <h3>McKenzie Leigh</h3>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-map-marker color-green"></i><br /></li>
                        @*<li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://www.example.com</a></li>*@
                        @*<li><a href="mailto:dalemueller6@gmail.com"><i class="fa fa-envelope-o"></i> dalemueller6@gmail.com</a></li>*@
                    </ul>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                </div>
            </div>
            <!-- End Clients Block-->

            <!-- Clients Block-->
            <div class="row clients-page">
                <div class="col-md-2">
                    <img src="~/assets/img/user.jpg" class="img-responsive hover-effect" alt="" />
                </div>
                <div class="col-md-10">
                    <h3>Amy Waddell Love</h3>
                    <ul class="list-unstyled">
                        @*<li><i class="fa fa-map-marker color-green"></i> P. O. Box 422298 <br />Atlanta, GA 30342-9298</li>*@
                        <li><a href="mailto:amylove@judgewaddell.org"><i class="fa fa-envelope-o"></i> amylove@judgewaddell.org</a></li>
                    </ul>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
            <!-- End Clients Block-->

            <!-- Clients Block-->
            <div class="row clients-page">
                <div class="col-md-2">
                    <img src="~/assets/img/user.jpg" class="img-responsive hover-effect" alt="" />
                </div>
                <div class="col-md-10">
                    <h3>Dr. Homer Rice</h3>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-map-marker color-green"></i> P. O. Box 422298 <br />Atlanta, GA 30342-9298</li>
                        @*<li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://www.example.com</a></li>*@
                        <li><a href="mailto:homerrice@judgewaddell.org"><i class="fa fa-envelope-o"></i> homerrice@judgewaddell.org</a></li>
                    </ul>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
            <!-- End Clients Block-->				

	    <!-- Clients Block-->
            <div class="row clients-page">
                <div class="col-md-2">
                    <img src="~/assets/img/user.jpg" class="img-responsive hover-effect" alt="" />
                </div>
                <div class="col-md-10">
                    <h3>Phillip D. Waddell </h3>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-map-marker color-green"></i> 9056 Stone Walk Place
                            <br />
                            Germantown, TN 38138
                        </li>
                        @*<li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://www.example.com</a></li>*@
                        <li><a href="mailto:pwaddell@covenantescrow.com"><i class="fa fa-envelope-o"></i> pwaddell@covenantescrow.com</a></li>
                        <li><i class="fa fa-phone"></i>(901) 759-0409</li>
                    </ul>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
            <!-- End Clients Block-->

            <!-- Clients Block-->
            <div class="row clients-page">
                <div class="col-md-2">
                    <img src="~/assets/img/user.jpg" class="img-responsive hover-effect" alt="" />
                </div>
                <div class="col-md-10">
                    <h3>William R. Waddell </h3>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-map-marker color-green"></i> McGuireWoods LLP
                            <br />
                            101 West Main Street
                            <br />
                            World Trade Center, Suite 9000
                            <br />
                            Norfolk, Virginia 23510
                        </li>
                        <li><a href="mailto:wwaddell@mcguirewoodsemeritus.com"><i class="fa fa-envelope-o"></i> wwaddell@mcguirewoodsemeritus.com</a></li>
                        @*<li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://www.example.com</a></li>*@
			<li><i class="fa fa-phone"></i>1 (757) 373-8664</li>
                    </ul>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
            <!-- End Clients Block-->

            <!-- Clients Block-->
            <div class="row clients-page">
                <div class="col-md-2">
                    <img src="~/assets/img/user.jpg" class="img-responsive hover-effect" alt="" />
                </div>
                <div class="col-md-10">
                    <h3>Roger Walz</h3>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-map-marker color-green"></i> 12 E. Kimberly <br />Ft. Thomas, KY 41075</li>
                        @*<li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://www.example.com</a></li>*@
                        <li><a href="mailto:rogerwalz@judgewaddell.org"><i class="fa fa-envelope-o"></i> rogerwalz@judgewaddell.org</a></li>
                    </ul>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                </div>
            </div>
            <!-- End Clients Block-->

        </div><!--/col-md-9-->

		<div class="col-md-3">
			<!-- Our Services -->
			<div class="who margin-bottom-30">
				<div class="headline"><h2>The Fund</h2></div>
				<p>The fund is managed by the Northern Kentucky Fund of the Greater Cincinnati Foundation</p>
				<ul class="list-unstyled">
					<li><i class="fa fa-globe"></i>Mary Pitcairn</li>
					<li><i class="fa fa-map-marker color-green"></i> Greater Cincinnati Foundation</li>
					<li>720 E. Pete Rose Way, Suite 120</li>
					<li>Cincinnati, OH 45202</li>
					<li><i class="fa fa-phone"></i> (513) 768-6130</li>
					<li><a href="mailto:pitcairnm@greatercincinnatifdn.org"><i class="fa fa-envelope-o"></i> pitcairnm@greatercincinnatifdn.org</a></li>
				</ul>
			</div>

			<!-- Contact Us -->
			<div class="who margin-bottom-30">
				<div class="headline"><h2>Chairman</h2></div>
				<p>Contact information for the Scholarship Chairman</p>
				<ul class="list-unstyled">
					<li><i class="fa fa-home"></i>William Waddell</li>
					<li><a href="mailto:wwaddell@mcguirewoodsemeritus.com"><i class="fa fa-envelope-o"></i>wwaddell@mcguirewoodsemeritus.com</a></li>
					<li><i class="fa fa-phone"></i>1 (757) 373-8664</li>
				</ul>
			</div>

			<div class="who margin-bottom-30">
				<div class="headline"><h2>Vice Chairman</h2></div>
				<p>Contact information for the Scholarship Vice Chairman</p>
				<ul class="list-unstyled">
					<li><i class="fa fa-home"></i>Phillip Waddell</li>
					<li><a href="mailto:philwaddell@judgewaddell.org"><i class="fa fa-envelope-o"></i>philwaddell@judgewaddell.org</a></li>
					<li><i class="fa fa-phone"></i>(901) 759-0409</li>
				</ul>
			</div>

			<!-- About Us -->
			<div class="headline"><h2>About Us</h2></div>
			<div class="margin-bottom-30">
				<p>Funding for the Scholarships is drawn from the earnings of a permanent endowment built from the contributions of former students, athletes and faculty. The endowment fund is managed by The Northern Kentucky Fund of the Greater Cincinnati Foundation, a well-respected local community foundation.</p>
			</div>

			<!-- Contact Us -->
            <div class="who margin-bottom-30">
                <div class="headline"><h2>Website Contacts</h2></div>
                <p>For questions or issues about the judge waddell website, contact the webmaster.</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-home"></i>Alex Waddell</li>
                    <li><a href="mailto:alex@codestrike.com"><i class="fa fa-envelope-o"></i>alex@codestrike.com</a></li>
                    <li><i class="fa fa-phone"></i>1 (804) 298-6761</li>
                </ul>
                <ul class="list-unstyled">
                    <li><i class="fa fa-home"></i>William Waddell</li>
                    <li><a href="mailto:wwaddell@mcguirewoodsemeritus.com"><i class="fa fa-envelope-o"></i>wwaddell@mcguirewoodsemeritus.com</a></li>
                    <li><i class="fa fa-phone"></i>1 (757) 373-8664</li>
                </ul>

            </div>
		</div><!--/col-md-3-->
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
