@{
	ViewBag.Title = "Home Page";
}

@section styles {
}

@section scripts {
	<script src="/app/controller/newsController.js"></script>
}


<div class="breadcrumbs">
	<div class="container">
		<h1 class="pull-left">Judge Waddell news and blog</h1>
		<ul class="pull-right breadcrumb">
			<li><a href="/">Home</a></li>
			<li>Pages</li>
			<li class="active">News and Blog</li>
			<li></li>
		</ul>
	</div><!--/container-->
</div>

<!--=== Blog Posts ===-->
<div ng-controller="newsController" class="container content-md">
	<!-- News v3 -->
	<div ng-repeat="newsItem in news" class="row margin-bottom-20">
		<div class="col-sm-5 sm-margin-bottom-20">
			<img class="img-responsive" ng-src="{{newsItem.Image}}" alt="">
		</div>
		<div class="col-sm-7">
			<div class="news-v3">
				<ul class="list-inline posted-info">
					<li>By Alex Waddell</li>
					<li>In News and Blog</li>
					<li>Posted {{newsItem.Date}}</li>
				</ul>
				<h2>{{newsItem.Title}}</h2>
				<h3>{{newsItem.SubTitle}}</h3>

				<span ng-bind-html="MakeHtml(newsItem.Text)"></span>
			</div>
		</div>
	</div><!--/end row-->
	<!-- End News v3 -->

	<div class="clearfix margin-bottom-20"><hr></div>

	<!-- Pager v3 -->
	@*<ul class="pager pager-v3 pager-md no-margin-bottom">
		<li class="previous"><a href="#">&larr; Older</a></li>
		<li class="page-amount">1 of 7</li>
		<li class="next"><a href="#">Newer &rarr;</a></li>
	</ul>
	<!-- End Pager v3 -->
	*@

</div><!--/end container-->
<!--=== End Blog Posts ===-->