@{
	ViewBag.Title = "Home Page";
}

@section styles {
	<link rel="stylesheet" href="~/assets/plugins/fancybox/source/jquery.fancybox.css">
}

@section scripts {
	<script type="text/javascript" src="~/assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
	<!-- JS Customization -->
	<script type="text/javascript" src="~/assets/js/custom.js"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="~/assets/js/app.js"></script>
	<script type="text/javascript" src="~/assets/js/plugins/fancy-box.js"></script>

	<script type="text/javascript">
		FancyBox.initFancybox();
	</script>
}

<div class="container content">
	<div class="text-center margin-bottom-50">
		<h2 class="title-v2 title-center">Book Orders</h2>
		<p class="space-lg-hor">
			@*All proceeds from referrals will be contributed to the Ewell &quot;Judge&quot; Waddell Scholarship.*@
		</p>
	</div>

	<center>
		<p>&nbsp;</p>
		<a target="_blank" href="https://www.amazon.com/gp/product/192961926X/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=192961926X&linkCode=as2&tag=judgewaddell-20&linkId=0ca217e0c308e0d487e364726ef052f2"><img border="0" src="https://images-na.ssl-images-amazon.com/images/I/51jjPGq77SL._SX331_BO1,204,203,200_.jpg" height="293" width="195"></a>

		<a target="_blank" href="https://www.amazon.com/gp/product/0133945936/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0133945936&linkCode=as2&tag=judgewaddell-20&linkId=c7bba2a55d19cac0b4daf411287314a7"><img border="0" src="https://images-na.ssl-images-amazon.com/images/I/51PjG3rc-jL._SX330_BO1,204,203,200_.jpg" height="293" width="195"></a>
			
		<a target="_blank" href="https://www.amazon.com/gp/product/1563526328/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1563526328&linkCode=as2&tag=judgewaddell-20&linkId=8cf2055e5091552b0e3b63f5f8458954"><img border="0" src="https://images-na.ssl-images-amazon.com/images/I/4184JZYKJ4L._SX315_BO1,204,203,200_.jpg" height="293" width="195"></a>
		
		<a target="_blank" href="https://www.amazon.com/gp/product/0139610383/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0139610383&linkCode=as2&tag=judgewaddell-20&linkId=3adbea1cefae8674b8fa8800d6fba630"><img border="0" src="https://images-na.ssl-images-amazon.com/images/I/416N7393G7L._SX313_BO1,204,203,200_.jpg" height="293" width="195"></a>

	</center>
	<p>

		<center>
			<div class="alignleft">
				<script type="text/javascript">
					amzn_assoc_ad_type = "banner";
					amzn_assoc_marketplace = "amazon";
					amzn_assoc_region = "US";
					amzn_assoc_placement = "assoc_banner_placement_default";
					amzn_assoc_campaigns = "books";
					amzn_assoc_banner_type = "category";
					amzn_assoc_isresponsive = "true";
					amzn_assoc_banner_id = "1WV938XZP3V21MG4E2R2";
					amzn_assoc_tracking_id = "judgewaddell-20";
					amzn_assoc_linkid = "5de6d52b8b9be30938e70f463ab8ee03";
				</script>
				<script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
			</div>
		</center>
	</p>
</div>
