@{
    ViewBag.Title = "Home Page";
}

@section styles {
    <link rel="stylesheet" href="~/assets/plugins/fancybox/source/jquery.fancybox.css">   
}

@section scripts {
    <script type="text/javascript" src="~/assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="~/assets/js/custom.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="~/assets/js/app.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/fancy-box.js"></script>
    
    <script type="text/javascript">
        FancyBox.initFancybox();
    </script>
}

<div class="container content">
    <div class="text-center margin-bottom-50">
        <h2 class="title-v2 title-center">Book Orders</h2>
        <p class="space-lg-hor">
            All proceeds from referrals will be contributed to the Ewell &quot;Judge&quot; Waddell Scholarship.
        </p>
    </div>

	<center>
		<p>&nbsp;</p>

		<a target="_blank" href="https://www.amazon.com/Homer-Rice/e/B001HMRQMA/ref=dp_byline_cont_book_1&tag=judgewaddell-20">
			View Homer Rice&apos's Amazon Landing Page
		</a>
	</center>
    <p>

        <center>
			<div class="alignleft">
				<script type="text/javascript">
       	amzn_assoc_ad_type = "banner";
	amzn_assoc_marketplace = "amazon";
	amzn_assoc_region = "US";
	amzn_assoc_placement = "assoc_banner_placement_default";
	amzn_assoc_campaigns = "books";
	amzn_assoc_banner_type = "category";
	amzn_assoc_isresponsive = "true";
	amzn_assoc_banner_id = "1WV938XZP3V21MG4E2R2";
	amzn_assoc_tracking_id = "judgewaddell-20";
	amzn_assoc_linkid = "5de6d52b8b9be30938e70f463ab8ee03";
				</script>
				<script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
			</div>
        </center>
    </p>
</div>
