@{
	ViewBag.Title = "Home Page";
}

@section styles {
}

@section scripts {

}

<div class="breadcrumbs">
	<div class="container">
		<h1 class="pull-left">Donate</h1>
		<ul class="pull-right breadcrumb">
			<li><a href="/">Home</a></li>
			<li>Pages</li>
			<li class="active">Donate</li>
			<li></li>
		</ul>
	</div><!--/container-->
</div>

<div class="container content">
	<div class="row margin-bottom-40">

		<!--=== News Block ===-->
		<div class="container content-sm">
			<div class="container">
				<div class="row">
					<div class="col-md-6 md-margin-bottom-30">
						<h2 class="title-v2">Donate by check</h2>
						<p>
							Send contributions to:<br />
							The Greater Cincinnati Foundation<br />
							720 E. Pete Rose Way, Suite 120 <br />
							Cincinnati, OH 45202 <br />
							Attention: Mary Pitcair (Mark memo <b>Waddell Fund</b>)
						</p>
						@*<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read More</a>
							<a href="#" class="btn-u">Purchase Now</a>*@

						<h2 class="title-v2">Donate online</h2>
						<p>
							Contributions may also be made with VISA or Mastercard at the website of The Greater Cincinnati Foundation: <a href="https://www.gcfdn.org/Waddell">www.gcfdn.org/Waddell</a> or by clicking Donate Online.
						</p>
						@*
								TODO: Add link
								<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read More</a>
							<a href="#" class="btn-u">Purchase Now</a>*@

						<p>
							If you have access to matching funds (for example through an employer), please remember to include this contribution in your matching request.
						</p>
						<p>
							The Waddell Scholarship is a permanently endowed fund. This gives you a variety of giving
							opportunities, all the way from simple, immediate cash gifts to bequests in your will, to more
							complicated, tax-advantaged techniques such as remainder trusts.
							The <a href="http://www.gcfdn.org">Greater Cincinnati Foundation website</a> has excellent resources to help you with such gifts.
						</p>
						<a href="https://www.gcfdn.org/Waddell" class="btn-u">Donate Online</a>
						@*<a href="~/Content/pdf/donate.pdf" class="btn-u">Print a donor card</a>*@
					</div>
					<div class="col-md-6">
						<img src="~/Content/img/eew_sized.jpg" />
						<br />
						Ewell "Judge" Waddell
					</div>
				</div>
			</div>
		</div>
		<!--=== End News Block ===-->
		<!--=== Parallax Quote ===-->
		<div class="parallax-quote parallaxBg" style="background-position: 50% 20px;">
			<div class="container">
				<div class="parallax-quote-in">
					<p>
						Those of us who knew or worked with him remember him as
						<span class="color-green">teacher, coach, mentor, moral example, advisor, leader, executive and friend.</span>
					</p>
					@*<p>If you can design one thing <span class="color-green">you can design</span> everything. <br> Just Believe It.</p>*@
					<small>- Dr. Homer Rice -</small>
				</div>
			</div>
		</div>
		<!--=== End Parallax Quote ===-->

	</div><!--/row-->

</div>
