@{
    ViewBag.Title = "Home Page";
}

@section styles {
}

@section scripts {

}

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">A letter from Dr. Rice</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Pages</li>
            <li class="active">A letter from Dr. Rice</li>
            <li></li>
        </ul>
    </div><!--/container-->
</div>

<div class="container content">
    <div class="row margin-bottom-40">
        <div class="col-md-6 md-margin-bottom-40">
            <p>
                Dear Friends:
            </p>
            <p>
                “Judge” Waddell was a revered figure at Highlands High School from 1942 until his untimely death in 1967. I played for him in 1943 and 1944. Those of us who knew or worked with him remember him as teacher, coach, mentor, moral example, advisor, leader, executive and friend.
            <p>
                Judge is perhaps best known as coach of the Highlands football team from 1942 through 1954. But he is remembered for much more than winning football games. His fundamental values were about the enrichment and development of the lives of young people, athletically, but not just athletically. He respected honest competition, and made no apologies for wanting his young men to be winners, but wanted them to be true sportsmen, and to grow morally and intellectually as well.            </p>
            <p>
                It is against the inspiring background of Judge Waddell’s life and career that I, along with his family and friends, have established a fund to make it possible for deserving Highlands students to continue their education. Our goal is an endowment of $100,000, the income from which will permanently provide a scholarship for one or more Highlands graduates. We are proud to say we have over a quarter of that amount already.            </p>
            <p>
                Scholarship recipients will be “student-athletes” who have demonstrated athleticism, character and intellect, and intend to pursue a career in education. Recipients will be chosen by an Advisory Committee made up of people who know and love the Highlands tradition. The Committee will in turn receive suggestions from coaches, teachers and others at Highlands who are in a position to identify the most outstanding candidates.
            </p>
            <p>
                We hope you will help us in this effort. Your gift will help remember a great man, help perpetuate the intellectual and athletic values we all believe in, help young people improve and complete themselves, and help supply the teachers, coaches and mentors that future generations of young people will need. We think that’s a great investment.
            </p>
            <p>
                Please fill out a pledge card today, and make a permanent contribution to influencing young lives in the right direction. A plaque listing contributors making pledges at the Founder and Champion levels, and listing each year’s scholarship recipients, will be displayed at Highlands. All contributors will be listed in the School’s publications and in its permanent records.
            </p>
            <p>
                A list of contributors will also appear at the Scholarship website, www.judgewaddell.org. Please visit it for further information about the scholarship and Judge himself.
            </p>
            <p>
                The fund is managed by the Northern Kentucky Fund of the Greater Cincinnati Foundation, a well-respected community foundation, so we are asking that contributions be sent directly there if possible. An envelope is enclosed for your convenience. All contributions are tax-deductible, and pledges may be paid over five years. Thanks for your consideration.
            </p>
            <p>
                Respectfully yours,
                <br />
                Homer C. Rice 
            </p>
        </div>
        <div class="col-md-6 md-margin-bottom-40">
            <img src="~/Content/img/eew_sized.jpg" />
            <br />
            "Judge" Waddell

        </div>
        <div class="col-md-6">
        </div>
    </div><!--/row-->

</div>