@{
    ViewBag.Title = "Home Page";
}

@section styles {
}

@section scripts {

}

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">About the Scholarship</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Pages</li>
            <li class="active">Scholarship</li>
            <li></li>
        </ul>
    </div><!--/container-->
</div>

<div class="container content">

    <div class="row margin-bottom-40">
        <div class="col-md-6 md-margin-bottom-40">
            <p>
                Funding for the Scholarships is drawn from the earnings of a permanent endowment built
                from the contributions of former students, athletes and faculty. The endowment fund is
                managed by The Northern Kentucky Fund of the Greater Cincinnati Foundation, a
                well-respected local community foundation.
            </p>
            <p>
                Scholarship awards are determined by an Advisory Committee made up of people who
                know and love the Highlands tradition. They select “student-athletes” who
                have demonstrated athleticism, character and intellect, and intend to pursue a
                career in education. Currently the members of the Advisory Committee are:
            </p>            
			<ul class="list-unstyled">
				<li><i class="fa fa-check color-green"></i> Megan Abner</li>
				<li><i class="fa fa-check color-green"></i> J. Wes Caldwell </li>
				<li><i class="fa fa-check color-green"></i> Nancy Rice Hetherington</li>
				<li><i class="fa fa-check color-green"></i> McKenzie Leigh</li>
				<li><i class="fa fa-check color-green"></i> Amy Waddell Love</li>
				<li><i class="fa fa-check color-green"></i> Phillip D. Waddell </li>
				<li><i class="fa fa-check color-green"></i> William R. Waddell </li>
				<li><i class="fa fa-check color-green"></i> Roger Walz </li>
				
			</ul><br>
            <!-- Blockquotes -->
            <blockquote class="hero-unify">
                <p>Sadly, we note the passing of Don Waddell, Judge Waddell's oldest son, on Friday, 
                April 19, 2013. Don was one of the principal forces in the formation and maintenance 
                of the Scholarship, served on the Advisory Committee from the beginning, 
                and will be greatly missed.</p>
                <small>Advisory members</small>
            </blockquote>
            <!-- Blockquotes -->
            <blockquote class="hero-unify">
                <p>We also note the passing of Homer Rice, a scholarship founder, on June 10, 2024. 
		Dr Rice was also one of the principal forces in the formation and maintenance 
                of the Scholarship, and served on the Advisory Committee from the beginning, 
                and we will miss his wisdom</p>
                <small>Advisory members</small>
            </blockquote>

            <p>
                Your gift will help remember a great man, and help encourage the teachers, 
                coaches and mentors so important to the next generation. To make a contribution, 
                please visit the donations part of this website for more information. 
            </p>         
        </div>
        <div class="col-md-6 md-margin-bottom-40">
            <div class="responsive-video">
                @*<iframe frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="http://player.vimeo.com/video/9679622"></iframe>*@
            </div>
        </div>
    </div><!--/row-->


<!--=== App Block ===-->
<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-9 animated fadeInLeft">
                <span>The Judge Waddell Endowed Scholarship Fund</span>
                <p>Highlands students are eligible for the scholarship and we encourage you to apply.</p>
                <p>Scholarship awards are determined by an Advisory Committee made up of people who know and love the Highlands tradition. They select “student-athletes” who have demonstrated athleticism, character and intellect, and intend to pursue a career in education.</p>
            </div>
            <div class="col-md-3 btn-buy animated fadeInRight">
                <a href="~/Content/pdf/2025 Application.pdf" class="btn-u btn-u-lg">
                    <i class="fa fa-cloud-download"></i> Apply Today
                </a>
                <p>Deadline: March 24th 2025</p>
            </div>
        </div>

    </div>
</div>

    <!-- End Meer Our Team -->
    <!-- Owl Clients v1 -->
    @*<div class="headline"><h2>The Waddell Scholars</h2></div>
    <div class="owl-clients-v1 owl-carousel owl-theme" style="opacity: 1; display: block;">
        <div class="owl-wrapper-outer">
            <div class="owl-wrapper" style="width: 2934px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-326px, 0px, 0px);">
                <div class="owl-item" style="width: 163px;">
                    <div class="item">
                        <img alt="" src="assets/img/clients4/1.png">
                    </div>
                </div><div class="owl-item" style="width: 163px;">
                    <div class="item">
                        <img alt="" src="assets/img/clients4/2.png">
                    </div>
                </div><div class="owl-item" style="width: 163px;">
                    <div class="item">
                        <img alt="" src="assets/img/clients4/3.png">
                    </div>
                </div><div class="owl-item" style="width: 163px;">
                    <div class="item">
                        <img alt="" src="assets/img/clients4/4.png">
                    </div>
                </div><div class="owl-item" style="width: 163px;">
                    <div class="item">
                        <img alt="" src="assets/img/clients4/5.png">
                    </div>
                </div><div class="owl-item" style="width: 163px;">
                    <div class="item">
                        <img alt="" src="assets/img/clients4/6.png">
                    </div>
                </div><div class="owl-item" style="width: 163px;">
                    <div class="item">
                        <img alt="" src="assets/img/clients4/7.png">
                    </div>
                </div><div class="owl-item" style="width: 163px;">
                    <div class="item">
                        <img alt="" src="assets/img/clients4/8.png">
                    </div>
                </div><div class="owl-item" style="width: 163px;">
                    <div class="item">
                        <img alt="" src="assets/img/clients4/9.png">
                    </div>
                </div>
            </div>
        </div>


        <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div></div></div>
    </div>*@
    <!-- End Owl Clients v1 -->
</div>
