@{
    ViewBag.Title = "Home Page";
}

@section styles {
}

@section scripts {

}

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Ewell E. Waddell</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Pages</li>
            <li class="active">The "Judge"</li>
            <li></li>
        </ul>
    </div><!--/container-->
</div>

<div class="container content">
    <div class="row margin-bottom-40">
        <div class="col-md-6 md-margin-bottom-40">
            <p>
                Ewell E. “Judge” Waddell was born in 1907 in the small Western Kentucky town of
                Marion. He graduated from what is now Western Kentucky University, after a career
                that was academically excellent and athletically extraordinary. He played the vital
                center position on a single wing offense, and was named a Little All American in 1933.
                After a winning career at Ludlow High, he came to Highlands in 1942.
            </p>
            <p>
                During his twelve years as a classroom teacher, he taught many subjects,
                including U.S. and World history, economics and sociology.
            </p>

            <p>
                He was head football coach from 1942 through 1954. Those thirteen teams
                compiled a record of 91 and 37, won six conference titles and claimed two Kentucky
                State Championships. This was during a time when there were no school classifications,
                a time when Highlands was a relative David competing with Goliaths, and yet winning.
            </p>
            <p>
                An intense rivalry existed in those days between Covington Holmes and Highlands.
                Nevertheless, Judge Waddell became a good friend of the Holmes coach, Tom Ellis. At
                the height of that rivalry, Tom said “ ‘Judge’ Waddell is a gentleman first and a coach
                second. He is the finest fellow that I have run into in the coaching profession. He is my
                best friend in Northern Kentucky.”
            </p>

            <p>
                In 1954 he gave the reins to Homer Rice, who played on one of his state championship teams,
                and prepared to take on the job of Superintendent of the Ft. Thomas School system. He
                successfully led the School through the change-filled and challenging years of 1955 through
                1967, and died suddenly after a twenty-five year career in Ft. Thomas. His sons Don, Bill and
                Phill all played for Highlands.
            </p>
            <p>
                Broadcast notes from the 1943 Thanksgiving Day State Championship game may be seen
                <a href="/content/pdf/EEWBrayNotes.pdf">here</a>.
            </p>
        </div>
        <div class="col-md-6 md-margin-bottom-40">
            <img src="~/Content/img/eew_sized.jpg" />
        </div>
    </div><!--/row-->

    <img src="~/Content/img/Hilltopper1954_sm.jpg" />

</div>