@{
	ViewBag.Title = "Home Page";
}

@section styles {
}

@section scripts {

}

<div class="breadcrumbs">
	<div class="container">
		<h1 class="pull-left">Meet the Waddell scholars</h1>
		<ul class="pull-right breadcrumb">
			<li><a href="/">Home</a></li>
			<li>Pages</li>
			<li class="active">Scholars</li>
			<li></li>
		</ul>
	</div><!--/container-->
</div>

<!-- Profile Content -->
<div class="col-md-12">
	<div class="profile-body">
		<p>
			Waddell Scholars are chosen from the senior class at Highlands based on academics, team athletics,
			character and a sincere interest in teaching and coaching. Three outstanding students have
			received this Scholarship.
		</p>
		<p>
			Their accomplishments, honors and awards are far too numerous to
			list here.
		</p>
		<!--Timeline-->
		<ul class="timeline-v2">
			<li>
				<time class="cbp_tmtime" datetime=""><span>2007</span></time>
				<i class="cbp_tmicon rounded-x hidden-xs"></i>
				<div class="cbp_tmlabel">
					<h2>Sydney Hiance</h2>
					<p>
						Starred at soccer at Highlands and at the University of Kentucky as
						goalkeeper. At Highlands she compiled an incredible record, with a goals
						against average of 0.20 her senior year, and was named, among other things,
						Gatorade Kentucky Player of the Year and Cincinnati Enquirer Player of the
						Year. At Kentucky she compiled one of the best shutout records in U.K.
						history. She graduated from U.K. in 2011 with a degree in elementary
						education, and while in Lexington coached at Woodford County High School.
						She served as a substitute teacher in the Ft. Thomas school system and
						coached at the prestigious Kings Soccer Academy in Wilder, Kentucky. Sydney
						is currently leaning toward the coaching side, having recently received her
						International Fitness Association (IFA) certification and accepted a
						position as a personal trainer with WieFit.
					</p>
					<p>
						When we asked how she felt about her Highlands preparation, Sydney said,
						"I think Highlands more than prepared me for my college career both as an
						athlete and also as a student. It is hard for me to believe that I would
						be where I am now without the help from the wonderful people at Highlands
						and especially my soccer coach Nina Kearns".
					</p>
				</div>
			</li>
			<li>
				<time class="cbp_tmtime" datetime=""><span>2008</span></time>
				<i class="cbp_tmicon rounded-x hidden-xs"></i>
				<div class="cbp_tmlabel">
					<h2> Brady Dowling</h2>
					<p>
						Played center for the Bluebirds football team and was elected 
						captain his senior year. A real leader, Brady was a Freshman and 
						Freshman Football Mentor in 2007-08, and received the Leader of 
						Champions award in 2008. Brady received his B.A. and Masters Degrees
						 from the University of Kentucky, in English and Educational Administration. 
						He tutored students at Henry Clay High School, worked in the front office 
						of the Lexington Legends (AA) baseball club, and did his student teaching 
						in the Fayette County Public School System, all in and around Lexington.
					</p>
					<p>In 2013, he became the first Waddell Scholar to accept a full-time teaching position in the Ft. Thomas system. In the fall semester he will teach pre-AP English at Highlands. We are proud to have Brady become the first of our scholars to come home to Highlands. </p>
					<p>In recalling his own formative years, Brady notes the "outstanding education the Highlands teachers and staff gave me in preparing me for writing and planning for exams", as well as the lesson "that friends and outside influences are just as important as having a good education. The social experience I had at Highlands...made it a seamless transition from high school to college. Being a part of the football team was also huge for me; football made me mentally and physically tough while also affording me...lifelong friends". </p>
				</div>
			</li>
			<li>
				<time class="cbp_tmtime" datetime=""><span>2010</span></time>
				<i class="cbp_tmicon rounded-x hidden-xs"></i>
				<div class="cbp_tmlabel">
					<h2> Brian Beck</h2>
					<p>
						Brian was Mr. Highlands Football three times, and received the Red Dog Spirit Award, but obviously didn't neglect academics, as he made the Super Honor Roll and received the Silver Key Writing Award. Brian is now in his fourth year at Northern Kentucky University, continuing to pursue a teaching/coaching career. He began his practical applications work recently, and reports that he is enjoying his student teaching at a local high school. Beginning in October 2013, Brian will continue his student teaching as a part of the COST (Consortium for Overseas Student Teaching) program at a high school in the Netherlands. We are proud to have one of our scholars involved in the vitally-important field of global education. 
					</p>
				</div>
			</li>
			<li>
				<time class="cbp_tmtime" datetime=""><span>2013</span></time>
				<i class="cbp_tmicon rounded-x hidden-xs"></i>
				<div class="cbp_tmlabel">
					<h2> Richie Whitford</h2>
					<p>
						Richie played four years of football at Highlands, and was a team Captain in his senior year. Coach Mueller described him as "an inspiration...with regards to how hard he worked and how well he developed and played." His Highlands career also included the Honor Roll, the Super Honor Roll, the Spanish Club and FBLA. Throughout the years he spent countless volunteer hours for the benefit of churches and community on everything from Boosters Club fundraisers to the Soup Kitchen.
					</p>
					<p>
						Educationally, Richie is headed for Elementary Education at the University of Kentucky. Our best wishes to him.
					</p>
				</div>
			</li>
			<li>
				<time class="cbp_tmtime" datetime=""><span>2014</span></time>
				<i class="cbp_tmicon rounded-x hidden-xs"></i>
				<div class="cbp_tmlabel">
					<h2>Mallory Seidel</h2>
					<p>
						Mallory was captain of the Highlands varsity volleyball
						team as a senior, after several standout years in that
						sport, including being named MVP of her freshman team.
						Mallory was also a member of the tennis and track teams
						during her Highland years.  Excellent academic achievement
						and numerous volunteer commitments rouded out a career
						that led the Scholarship Committee to name her our 
						2014 recipient.  Mallory is currently in her second 
						year at the University of Louisville, working toward
						an Education degree, continuing her great volunteer 
						work with everything from Special Olympics to Habitat
						for Humanity, and being elected VP of the U of L 
						College of Education for 2016-2017.  Congratulations!
					</p>
					<p>
						
					</p>
				</div>
			</li>



		</ul>

		<h3>
			We are honored to have these four outstanding young people as Waddell Scholars.
		</h3>
		<!--End Timeline-->
	</div>
</div>
<!-- End Profile Content -->
			</div>
		</div><!--/container-->
<!--=== End Profile ===-->