@{
	ViewBag.Title = "Home Page";
}

@section styles {
}

@section scripts {
	<script src="/app/controller/awardController.js"></script>
}

<div class="breadcrumbs">
	<div class="container">
		<h1 class="pull-left">Meet the Waddell Scholars</h1>
		<ul class="pull-right breadcrumb">
			<li><a href="/">Home</a></li>
			<li>Pages</li>
			<li class="active">Scholars</li>
			<li></li>
		</ul>
	</div><!--/container-->
</div>

<!-- Profile Content -->
<div class="col-md-12">
	
	<div class="profile-body">
		<p>
			Waddell Scholars are chosen from the senior class at Highlands based on academics, team athletics,
			character and a sincere interest in teaching and coaching. The outstanding students listed here have
			received this Scholarship.
		</p>
		<p>
			Their accomplishments, honors and awards are far too numerous to
			list here.
		</p>
		<!--Timeline-->
		<ul class="timeline-v2" ng-controller="awardController">

			<li ng-repeat="award in awards">

				<time class="cbp_tmtime" datetime=""><span>{{award.Year}}</span></time>
				<i class="cbp_tmicon rounded-x hidden-xs"></i>
				<div class="cbp_tmlabel">
					<h2>{{award.Headline}}</h2>
					<p ng-bind-html="MakeHtml(award.Desc)"></p>
					<p>
					</p>
				</div>
			</li>

		</ul>

		<h3>
			We are honored to have these outstanding young people as Waddell Scholars.
		</h3>
		<!--End Timeline-->
	</div>
</div>
<!-- End Profile Content -->
